{% include 'header.html' %}
{% include 'navbar.html' %}
<main class="container my-4">
    <h1>Vehicle List</h1>

        <table class="table table-responsive table-striped" style="display: inline-table;">
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Capacity</th>
                    <th>Void_Reason</th>
                    <th>Date_Voided</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for vehicle in vehicle_listvoided %}
                <tr>
                    <td>{{ vehicle.vendor }}</td>
                    <td>{{ vehicle.model }}</td>
                    <td>{{ vehicle.type }}</td>
                    <td>{{ vehicle.capacity }}</td>
                    <td>{{ vehicle.void_reason }}</td>
                    <td>{{ vehicle.date_voided }}</td>
                    <td><div class="row">
                        {% if vehicle.voided == 1 %}
                        <a href="{% url 'unvoidedvehicle' id=vehicle.uuid %}" class="btn-sm btn-primary text-white mx-2"><i class="bi bi-trash-fill"></i> Restore</a>
                        {% endif %}
                        <a href="{% url 'permanentvehicle' id=vehicle.uuid %}" class="btn-sm btn-danger text-white mx-2"><i class="bi bi-trash-fill"></i> Permanent Delete</a>
                        </div>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No Voided vehicles found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</main>
{% include 'footer.html' %}
